
@{
    ViewData["Title"] = "Autenticacao";
}

<div class="container">
    <div class="texto-principal">
        <h1>Insira seu nome e e-mail.</h1>
    </div>
    <div class="formulario-nome-email">
        <form>
            <input name="nome" class="nome-input" id="nomeUsuario" type="text">
            <label class="nome-label" for="nome">Nome</label>
            <input name="email" class="email-input" id="emailUsuario" type="email">
            <label class="email-label" for="email">E-mail</label>
            <div style="display: none; color: red;" class="validation-error-label">Um ou mais campos não foram preenchidos corretamente</div>
            <input class="botao-comecar" value="COMEÇAR" onclick="autenticaUsuario()">
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function autenticaUsuario() {

            var nome = document.getElementById("nomeUsuario");
            var email = document.getElementById("emailUsuario");

            if (nome.value == "" || email.value == "") {
                $('.validation-error-label').show();
                return;
            }

            var usuario = { Nome: nome.value, Email: email.value };

            if(usuario.Nome != "" && usuario.Email != "") { 
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SalvaUsuario", "Home")',
                    data: JSON.stringify(usuario),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        window.location.href = "/pergunta/pergunta";
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            } else {
                alert("Preecha todos os campos para continuar!");
            }
        }
    </script>
}

